*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    font-family: sans-serif;
}
nav{
    display: flex;
    position: relative;
    z-index: 2;
    background-color: white;
    position: fixed;
    width: 100%;
}
.nav-links{
    position: fixed;
    z-index: 1;
    background-color: white;
    top: -300px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    transition: ease-in 0.5s;
    width: 100%;
    
   
}
.nav-links a{
    text-decoration: none;
    color: rgb(116, 112, 112);
    font-size: 11px;
    font-weight: bold;
}
.nav-links li{
    
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    list-style: none;
    width: 100%;

}
.nav-active{
    top: 4.5rem;
}
.burger{
    display: block;
    position: absolute;
    right: 0;
    padding: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.burger:hover div{
    background-color:rgb(92, 153, 0);
}
.line1{
   
    
    width: 21px;
    height: 2.6px;
    background-color: black;
    margin: 3.3px;
}
.line2{
   
   
    width: 21px;
    height: 2.6px;
    background-color: black;
    margin: 3.3px;
}
.line3{
   
    
    width: 21px;
    height: 2.6px;
    background-color: black;
    margin: 3.3px;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-2.5px,6px);
}
.toggle .line2{
    opacity: 0
}
.toggle .line3{
    transform: rotate(45deg) translate(-2.5px,-6px);
} 
.dropdown-container{
    position: relative;
    display: flex;
    flex-direction: column;
    display: none;
}
.dropdown-btn{
    position: relative;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    list-style: none;
    width: 100%;
    outline: none;
    text-decoration: none;
    color: rgb(116, 112, 112);
    font-size: 11px;
    font-weight: bold;
    width:100%;
    
}
.dropdown-container a{
    font-weight: normal;
    font-size: 14px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    
}
.active{
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.nav-links li:hover{
    background-color:rgb(92, 153, 0);
}
.dropdown-container a:hover{
    background-color:rgb(92, 153, 0);
    
}
.dropdown-btn:hover{
    background-color:rgb(92, 153, 0);

}
#container1{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    min-height: 600px;
}
.paragraph-container1{
    padding: 1rem;
    color: rgb(112, 108, 108);
}
.title-container1{
    padding:  0 1rem;
    font-size: 29px;
}
#container1 img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.links-container1{
    display: flex;
    flex-direction: column;
}
.sign-up
{
    margin: 1rem;
display: flex;
justify-content: center;
padding: 0.6rem;
text-decoration: none;
color: white;
border: 1.5px solid orange;
background-color: orange;
width: 140px;
border-radius: 200px;
font-size: 21px;
text-transform: uppercase;
}
.sign-up:hover{
    color: orange;
    background-color: white;
    transition: 0.5s;

}
.how-it-works{
    margin: 0.5rem 1rem;
display: flex;
justify-content: center;
padding: 0.6rem;
text-decoration: none;
color:  rgb(112, 108, 108);
border: 1.5px solid  rgb(112, 108, 108);
background-color: w;
width: 200px;
border-radius: 200px;
font-size: 21px;
text-transform: uppercase;
}
.how-it-works:hover{
    background-color:  rgb(112, 108, 108);
    color: white;
    transition: 0.5s;
}
#container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    background-color: rgb(92, 153, 0);
    margin-bottom: 4rem;
    text-align: center;
}
#container2 p{
    color: white;
    font-size: 23px;
    
}
#container2 a{
   margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    text-decoration: none;
    color: white;
    border: 1.5px solid orange;
    background-color: orange;
    width: 140px;border-radius: 200px;
}
.mini-container3
{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.mini-container3 i{
    margin: 1rem;
    background-color: rgb(92, 153, 0);
    padding: 1.3rem;
    font-size: 30px;
    transform: rotate(20deg);
    border: 1px solid rgb(92, 153, 0);
    border-radius: 50%;
    color: white;
}
.container3-h4{
    margin-top: 0.5rem;
    font-weight: normal;
}
.container3-p{
    padding: 0.6rem;
    color: rgb(116, 112, 112);
    font-size: 11px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container3-a{
    color: orange;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 0.7rem;
}
#container4{
    margin-top: 4rem;
}
.container4-h1{
    font-size: 30px;
    padding: 1rem;
}
.container4-p1{
    font-weight: unset;
    padding: 0 1rem;
}
.link-container4{
    margin: 1rem;
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    text-decoration: none;
    color: white;
    border: 1.5px solid orange;
    background-color: orange;
    width: 200px;
    border-radius: 200px;
    font-size: 17px;
    margin:  2rem 1rem;

}
.link-container4:hover{
    color: orange;
    background-color: white;
    transition: 0.5s;

}
.mini-container4{
    background-color: rgb(92, 153, 0);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.p-mini-container4{
    font-size: 23px;
    color: white;
}
.mini-container4-link{
    margin: 1rem;
    display: flex;
    justify-content: center;
    padding: 0.9rem 1.2rem;
    text-decoration: none;
    color: white;
    border: 1.5px solid orange;
    background-color: orange;
    width: 230px;
    border-radius: 200px;
    font-size: 17px;
   
}

.slide{
    position: absolute;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   display: none;
   /* background-color: #008000; */

}
#left-arrow{
   
    color: white;
    position: absolute;
    left: 16px;
   font-size: 32px;
   bottom: 2rem;
   cursor: pointer;
   /* top: 4rem;
   z-index: 1; */
}
.slide.active2 {
  
    /* margin-left: 1.2rem; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container5{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#slider{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.774);
}
#right-arrow{
    color: white;
    position: absolute;
    right: 16px;
    bottom: 2rem;
    font-size: 32px;
    cursor: pointer;
}
.description-slider{
    margin: 3rem;
    background-color: white;
    padding: 2rem 1rem;
    font-size: 15px;
    
}
.imagine-slider{
    display: flex;
    justify-content: center;
}
.imagine-slider img{
    border-radius: 50%;
}
.name{
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    align-items: center;
}
.name2{
    color: white;
    font-size: 15px;
}
.firma{
    color: rgb(92, 153, 0);
    font-size:15px ;
    margin: 0.3rem;
}
.slider-space{
    display: flex;
    justify-content: center;
}
.dropdown-container2{
    display: none;
    height: 100px;
    text-align: initial;
    margin: 0.5rem  4rem;
    font-size: 15px;
    color: rgb(116, 112, 112);
}
.dropdown-btn2{
    
    font-size: 16px;
    font-weight: bold;
    margin: 1rem 1rem;
    border: none;
    outline: none;
    background-color: white;
}
#container6{
    height: 500px;
    margin-top: 5rem;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}
.active3{
    color: rgb(92, 153, 0);
}

#container7{
    background-color: rgba(0, 0, 0, 0.897);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container7-h1{
    color: rgba(146, 146, 146, 0.795);
    font-size: 37px;
}
.container7-p{
    margin-top: 1rem;
    font-size: 19px;
    color: rgba(146, 146, 146, 0.795);
}
.container7-number{
    color: white;
    font-size: 40px;
    padding: 0.3rem;
}
.mini-number
{margin-top: 1rem;
font-size: 19px;
color: rgba(146, 146, 146, 0.795);}
.container7-a{
    text-decoration: none;
    color: white;
    background-color: rgb(92, 153, 0);
    padding: 1rem 6rem;
    border-radius: 30px;
    font-weight: bold;
    margin: 1rem;
    font-size: 19px;
}
.container7-a:hover{
    transition: 0.5s;
    background-color: rgb(67, 110, 1);

}
.conntainer6{
    width: 80%;
    max-width: 600px;
  
}
button.accordion{
width: 100%;
border: none;
outline: none;
text-align: left;
padding: 1rem;
font-size: 18px;
cursor: pointer;
margin-bottom: 1rem;
font-weight: bold;
background-color: white;

}
button.accordion::before{
    content: '\f067';
    font-family: 'fontawesome';
    font-size: 14px;
    float: right;
}
button.accordion.is-open::before{
    content: '\f068';
    font-family: 'fontawesome';
    font-size: 14px;
    float: right;
}
button.accordion:hover,button.accordion.is-open{
    color: rgb(92, 153, 0);
}

.accordion-content{
    color: rgb(116, 112, 112);
    line-height: 25px;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}